body{
  font-family: 'SFProDisplay', sans-serif;
}
#__next{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f2f2f2;
}
.login{
  background: url("/icons/login.png") no-repeat;
  background-position-x: -50px;
  background-position-y: -100px;
}
.form-control{
  background-color: transparent!important;
  color: black;
  &:focus{
    background-color: transparent!important;
  }
}

.full-screen{
  width: 100vw;
  height: 100vh;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}
.ava{
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  img{
    width: 100%;
    height: 100%;
  }
}

.left{
  background-color: white;
  width: 300px;
  .menu{
    position: relative;
    .item{
      p{
        cursor: pointer;
      }

      font-size: 15px;
      line-height: 18px;
      width: 90%;
      border-radius: 0 6px 6px 0;
      &.active{
        background-color: #FCB600;
        color: white;
      }
    }
    &:after{
      position: absolute;
      content: '';
      background-color: #FCB600;
      width: 4px;
      left: 0;
      top: 0;
      height: 100%;
    }
  }
}

.main{
  width: calc(100vw - 300px);
}