body{
  font-family: 'SFProDisplay', sans-serif;
}
#__next{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f2f2f2;
}
.login{
  background: url("https://fastfood-uz.vercel.app/icons/login.png") no-repeat;
  background-position-x: -50px;
  background-position-y: -100px;
}
.form-control{
  background-color: transparent!important;
  color: black;
  &:focus{
    background-color: transparent!important;
  }
}

.full-screen{
  width: 100vw;
  height: 100vh;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

.ava{
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  //box-shadow: 0 0 5px black;
}

.icon-bg{
  padding: 10px;
  background-color: #F6F6F6;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  img{
    width: 16px;
    height: 16px;
  }
}

.icon-bg-tr{
  padding: 10px;
  //background-color: #F6F6F6;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  img{
    max-width: 16px;
    max-height: 16px;
  }
}

.left {
  background-color: white;
  width: 300px;
  height: 100%;
  position: relative;
  .menu{
    position: relative;
    .item{
      cursor: pointer;
      font-size: 15px;
      line-height: 18px;
      width: 90%;
      border-radius: 0 6px 6px 0;
      padding-left: 40px;
      &.active{
        transition: all ease 10s;
        background-color: #FCB600;
        color: white;
      }
    }
    &:after{
      position: absolute;
      content: '';
      background-color: #FCB600;
      width: 4px;
      left: 0;
      top: 0;
      height: 100%;
    }
  }
  .logout{
    padding-left: 40px;
    margin-top: 80px;
  }
}

.main{
  width: calc(100vw - 300px);
  .body{
    width: 100%;
  }
}


.plus{
  cursor: pointer;
  background: #20D472;
  border-radius: 50%;
  position: relative;
  width: 36px;
  height: 36px;
  &:after{
    content: '';
    position: absolute;
    background-color: white;
    width: 14px;
    height: 1px;
    left: 11px;
    top: 18px;
  }
  &:before{
    position: absolute;
    content: '';
    background-color: white;
    width: 1px;
    height: 14px;
    top: 11px;
    left: 18px;
  }
}



.scroll-nav{
  border-radius: 24px;
  height: 48px;
  width: 100%;
  background: #EDEFF3;
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
  position: relative;
  &.disabled{
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: white;
      opacity: 0.6;
    }
  }
  .item{
    color: #2D3A45;
    opacity: 0.4;
    height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    &.active{
      opacity: 1;
      background-color: white;
      .rectangle{
        background: #8D9BA8;
      }
    }
  }
}

.rectangle{
  height: 6px;
  border-radius: 2px;
  border: 1px solid #8D9BA8;
  background: transparent;
}

.order-horizontal{
  cursor: pointer;
  background: white;
  border-radius: 6px;
  padding: 20px 36px;
  transition: all ease-in 0.5s;
  display: flex;
  position: relative;
  height: 150px;
  width: 964px;

  .order-head{
    border-right: 2px solid #EDEFF3;
    padding-right: 60px;
    padding-left: 20px;
  }

  .order-amount{
    padding: 0 110px 0 34px;
    border-right: 2px solid #EDEFF3;
    position: relative;
    .payType-box{
      top: 37px;
      right: 38px;
    }
  }

  .order-client{
    padding: 0 34px;
    border-right: 2px solid #EDEFF3;
  }

  .order-position{
    padding: 0 34px;
  }

  .order-control{
    .accept, .not-accept{
      position: absolute;
      right: -25px;
      z-index: 1;
    }
    .not-accept{
      top: 20px
    }
    .accept{
      bottom: 20px
    }
  }

  &:hover{
    box-shadow: 0 20px 25px rgba(176, 177, 181, 0.432802);
  }

}
.order-vertical{
  cursor: pointer;
  background: white;
  border-radius: 6px;
  padding: 18px 16px;
  transition: all ease-in 0.5s;
  position: relative;

  .order-head{
    border-bottom: 2px solid #EDEFF3;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .order-id{
      font-size: 14px;
      width: 60px;
      height: 30px;
      padding: 7px 12px;
    }
    .order-time{
      font-size: 14px;
    }
  }

  .order-amount{
    padding-bottom: 20px;
    border-bottom: 2px solid #EDEFF3;
    position: relative;
    .payType-box{
      top: 0;
      right: 17px;
    }
  }

  .order-client{
    padding: 17px 0;
  }

  .order-position{
    padding: 13px 0;
  }

  .order-control{
    .accept, .not-accept{
      position: absolute;
      right: 16px;
      z-index: 1;
    }
    .not-accept{
      bottom: 80px
    }
    .accept{
      bottom: 20px
    }
  }

  &:hover{
    box-shadow: 0 20px 25px rgba(176, 177, 181, 0.432802);
  }

}

.order-view{
  transition: all ease-in 0.5s;

  .order-head{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between
  }

  .order-client{
    padding: 20px;
    background-color: #EDEFF3;
    border-radius: 6px;
  }

  .order-position{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
  }

  .order-products{
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin: 40px 0;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    table{
      thead{
        background: #F9FAFB;
        font-size: 10px;
        color: #8D9BA8;
      }
      tbody{
        font-size: 14px;
        border: none;
      }
    }
  }

  .order-amount{
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #EDEFF3;
    border-radius: 6px;
    .payType-box{
      top: 55px;
      left: calc(50% + 10px);
    }
  }

  .order-control{
    display: flex;
    margin-top: 50px;
  }

}

.order-id{
  background: #20D472;
  border-radius: 18px;
  padding: 10px 19px;
  color: white;
  width: 90px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-time{
  font-size: 20px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payType-box{
  position: absolute;
  right: 0;
  top: 0;
  .payType{
    position: relative;
    &:after{
      position: absolute;
      border-radius: 50%;
      content: '';
      width: 10px;
      height: 10px;
      background: #14E5E4;
      left: -15px;
      top: 3px;
    }
  }
}


.no-data{
  height: 35px;
  display: inline;
  padding: 5px 80px;
  border-radius: 12px;
  background: white;
  text-align: center;
  //box-shadow: 0 20px 25px rgba(176, 177, 181, 0.432802);
}


.main-modal{
  width: calc(100vw - 300px);
  height: calc(100vh - 80px);
  overflow: hidden;
  position: fixed;
  display: flex;
  z-index: -10;
  right: 0;
  top: 80px;
  justify-content: end;
  padding-top: 2px;
  .main-modal-body{
    min-width: 382px!important;
    max-width: 65vw!important;
    height: 100%;
    background-color: white;

    position: relative;
    box-shadow: 0 20px 15px rgba(176, 177, 181, 0.551191);
    right: -410px;
    .main-modal-content{
      padding: 28px 24px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
    .main-modal-close{
      background-color: white;
      position: absolute;
      top: 29px;
      left: -44px;
      width: 89px;
      height: 50px;
      z-index: -1;
      box-shadow: 0 10px 20px rgba(176, 177, 181, 0.246941);
      border-radius: 25px;
      padding: 20px;
      cursor: pointer;
      img{
        width: 10px;
        vertical-align: top;
        height: 10px;
      }
    }
  }
  &.active {
    .main-modal-body{
      right: 0;
    }
    z-index: 2;
  }
}

.not-accept{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  background: #EDEFF3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  div{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.accept{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  background: #EDEFF3;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    min-height: 40px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
}


